
body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 14px;
}

/* NAV BAR */
.navbar {
  float: right;
  font-size: 13px;
  padding-top: 20px;
}
.navbar div {
  position: relative;
  bottom: 0px;
  float: left;
  text-align: center;
  padding-right: 10px;
  text-decoration: none;
}
.navbar div a {
  color: rgb(61, 61, 61);
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
.navbar div a:hover {
  text-decoration: underline;
}
#user {
  border-radius: 50%;
}
/* SEARCH */
main {
  margin: auto;
  padding: 10px;
}
.logo {
  margin: 253px auto 20px 42.5%;
  width: 273px;
}
.searchbar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.searchbar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.searchbar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
#srbr{
  height:44px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  
}
.loupe {
    height:20px;
    position:relative;
    top:5px;
    left:12px;
    opacity: 0.4;
    padding-right: 15px;
}

.butts{
  text-align: center;
  margin-top: 27.5px;
  margin-bottom: 27.5px;

}
.butts button{
  background-color: #f8f9fa;
  border:none;
  color:#3c4043;
  font-size:14px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
  text-align: center;
}
.butts button:hover{
  border: 1px solid #dfdfdf;
  padding: 9px 19px;
  cursor: pointer;
}
.butts button:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}
.lang {
  text-align: center;
  font-size: small;
  margin-bottom: 24px;
}
/*Footer*/
footer {
  background-color:#f2f2f2;
  color: #222;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  margin: 20px 10px 0px auto;
}
footer a {
  margin: auto 10px;
  color: rgba(0,0,0,.54);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.location {
  margin: auto auto 20px 30px;
  color: rgba(0,0,0,.54);
}
.toright {
  float: right;
  margin-right: 50px;
}
.toleft {
  float: left;
  margin-left: 20px;
}